<h2>Results index</h2>

<table class="table table-inverse">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.body %></td>
        <td><%= post.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", user_posts_path %>
