<div class ="container">
  <div class="row">
    <div class="col">

      <p class="text-center h3">
        About ~このサイトについて~<br>
      </p>

      <p class="text-center h6">
        <br>「運動を始めよう！」そう決意したあなたは素晴らしい！<br>
        でも一人の運動は習慣になるまでが難しいですよね。<br>
        <br>『Cheer Exercise!』は一人で運動を頑張る人のための<br>
        コミュニティサイトです。同じように一人で運動を<br>
        頑張る仲間と一緒に脱・三日坊主しましょう！<br>
        <br><strong>Mypage</strong><br>
        まずはユーザーの編集ボタンをクリック、<br>
        あなたのイメージ画像や目標を編集しましょう。<br>
        運動を頑張れた日には自分の頑張りを投稿してみてください！<br>
        カレンダーではあなたの一か月の運動状況がわかります。<br>
        <br><strong>Users</strong><br>
        同じように運動を頑張る仲間を見ることができます。<br>
        <br><strong>Posts</strong><br>
        みんなの投稿を見ることができます。<br>
        応援したい人や頑張っている人の投稿に『Nice!』を押すことができます。<br>
        検索フォームで投稿やタグから検索ができます。<br>
      </p>

      <div class="btn-wrapper col-2 pt-4 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-outline-primary btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block mb-3 sign_up" %>
        </div>
        <div class="row">
          <%= link_to 'Guest Login（閲覧用）', user_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      </div>

    </div>
  </div>
</div>