<div class ="container">
  <div class="row">
    <div class="col">

      <p class="text-center h3">
        <strong>Welcome to 『Cheer Exercise!』</strong><br>
        <%= image_tag "CheerExercise.jpg", size:"200x200" %>
      </p>

      <p class="text-center h6">
        <br>『Cheer Exercise!』は一人で運動を頑張る<br>
        あなたを応援するコミュニティサイトです。<br>
        <br>初めての方はAboutページをご覧ください。
      </p>

      <div class="btn-wrapper col-2 pt-4 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-outline-primary btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block mb-3 sign_up" %>
        </div>
        <div class="row">
          <%= link_to 'Guest Login（閲覧用）', user_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      </div>

    </div>
  </div>
</div>